<Message
    @username="Tomster"
    @userIsActive={{true}}
    @userLocalTime="4:56pm"
    @sum={{sum (multiply 2 4) 2}}
    @person={{hash 
      firstName="Zoey"
      lastName="Zang"
    }}
    @authors={{array 'Tom Dale' 'Yehuda Katz' 'Chidi Nwakwo'}}
>
  <p>
    Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc
    I sent you?
  </p>
  
  </Message>